body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

div.header {
    margin: auto;
    width: 90%;
    height: 20em;
    border: 1px gray;
    background-image: url(images/victoria-ben-1-medium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top 5%;
    
}

div.welcome {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 6px #000000;
    padding-top: 3em;
    inline-size: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: x-large;

}

div.main {
    margin: auto;
    width: 60%;
    text-align: left;
    padding-bottom: 10em;
}

.links {
    line-height: 1.5;
}

table, tr, td {
    border: 1px solid;
    padding: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

footer {
    text-align: center;
    font-size: smaller;
    color: gray;
}